# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
ENV/

# VSCode
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.backup
*.log

# Docker
docker-compose.override.yml
*.log
*.pid
**/tmp/
**/temp/

# IDEs
.idea/
*.iml

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Logs
*.log

# Others
*.sqlite3